{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": ".build/infection/infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "global-ignore": [
            "Vural\\OpenAPIFaker\\SchemaFaker\\BooleanFaker"
        ],
        "LessThan": {
            "ignore": [
                "Vural\\OpenAPIFaker\\SchemaFaker\\ArrayFaker::generate"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "Vural\\OpenAPIFaker\\SchemaFaker\\ArrayFaker::generate"
            ]
        },
        "CastInt": {
            "ignore": [
                "Vural\\OpenAPIFaker\\SchemaFaker\\NumberFaker::generate"
            ]
        }
    },
    "timeout": 20
}