{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": ".build/infection/infection-log.txt",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "global-ignore": [
            "Vural\\OpenAPIFaker\\SchemaFaker\\BooleanFaker"
        ],
        "@default": true
    },
    "timeout": 10
}