{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": ".build/infection/infection-log.txt",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "global-ignore": [
            "Vural\\OpenAPIFaker\\SchemaFaker\\BooleanFaker"
        ],
        "LessThan": {
            "ignoreSourceCodeByRegex": [
                ".*\\$minimum.*",
                ".*\\$maximum.*"
            ]
        },
        "GreaterThan": {
            "ignoreSourceCodeByRegex": [
                ".*\\$minimum.*",
                ".*\\$maximum.*"
            ]
        },
        "@default": true
    },
    "timeout": 20
}